<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7 sidebar sidebar-social footer-sticky"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8 sidebar sidebar-social footer-sticky"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 sidebar sidebar-social footer-sticky"> <![endif]-->
<!--[if gt IE 8]> <html class="ie sidebar sidebar-social footer-sticky"> <![endif]-->
<!--[if !IE]><!-->
<html class="sidebar sidebar-social footer-sticky" ng-app="sharoticaApp">
<!-- <![endif]-->
<head>
	<title>All Fun, No Offense</title>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

	<link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
	<!-- 
	**********************************************************
	In development, use the LESS files and the less.js compiler
	instead of the minified CSS loaded by default.
	**********************************************************
	<link rel="stylesheet/less" href="../assets/less/admin/module.admin.stylesheet-complete.less" />
	-->
	<!--[if lt IE 9]><link rel="stylesheet" href="../assets/components/library/bootstrap/css/bootstrap.min.css" /><![endif]-->
	<link rel="stylesheet" href="{{=URL('static','assets/css/admin/module.admin.stylesheet-complete.min.css')}}"
	/>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<script src="{{=URL('static','assets/components/library/jquery/jquery.min.js')}}"></script>
	<script src="{{=URL('static','assets/components/library/jquery/jquery-migrate.min.js')}}"></script>
	<script src="{{=URL('static','assets/components/library/modernizr/modernizr.js')}}"></script>
	<script src="{{=URL('static','assets/components/plugins/less-js/less.min.js')}}"></script>
	<script src="{{=URL('static','assets/components/modules/admin/charts/flot/assets/lib/excanvas.js')}}"></script>
	<script src="{{=URL('static','assets/components/plugins/browser/ie/ie.prototype.polyfill.js')}}"></script>
	<script>
	if ( /*@cc_on!@*/ false && document.documentMode === 10)
	{
		document.documentElement.className += ' ie ie10';
	}
	</script>
	<style>
	[ng-click],
	[data-ng-click],
	[x-ng-click] {
	    cursor: pointer;
	}
	</style>
</head>